.update-task {
  min-width: 300px;
  display: flex;
  justify-content: space-between;

  .edit-form__input {
    height: 29px;
    outline: none;
    margin-top: 5px;
  }

  .edit-form__input__error {
    height: 29px;
    outline: none;
    border-color: red;
  }

  .update-task__button {
    background-color: rgba(0, 0, 0, 0);
    margin-top: 5px;
    margin-bottom: 5px;
  }
}

.update-task__text-error {
  font-size: 16px;
  color: red;
}
