body {
  background-image: url("https://funart.pro/uploads/posts/2020-03/1584111135_8-p-foni-dlya-tovarov-24.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.task {
  display: flex;
  margin-top: 40px;
  border: 3px solid black;
  padding: 16px;
  min-width: 300px;
  font-size: 24px;
  background: linear-gradient(90deg, #b9deed, #efefef);
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.true-style {
  color: red;
  text-decoration: line-through;
}

.delete-all {
  text-align: center;
  color: white;
  margin-top: 20px;
  border: 2px solid black;
  width: 100px;
  height: 20px;
  padding: 16px;
  margin-top: 50px;
  background: -webkit-linear-gradient(0deg, #11053b, #1e0b63, #11053b);
  background: linear-gradient(0deg, #11053b, #1e0b63, #11053b);
}
.task-buttons {
  display: flex;
}

.update-task {
  display: flex;
  min-width: 300px;
  justify-content: space-between;
}

.update-task-buttons {
  display: flex;
}

.default-text {
  display: flex;
  justify-content: center;
}

.default-task {
  display: flex;
  justify-content: space-between;
  min-width: 300px;
}
.check {
  margin-right: 20px;
}

input {
  height: 20px;
}

button {
  height: 26px;
  background-color: green;
  color: white;
}
