.add-form {
  display: flex;
  flex-direction: column;
  
  &__button {
    height: 26px;
    border: 0;
    background-color: green;
    color: white;
  }

  &__input__error {
    border-color: red;
    height: 20px;
    outline: none;
    width: 200px;
  }

  &__input {
    height: 20px;
    outline: none;
    width: 200px;
  }

  &__error {
    color: red;
  }
}
