.default-task {
  display: flex;
  justify-content: space-between;
  min-width: 300px;

  .default-task__text {
    display: flex;
    justify-content: center;
  }

  .default-task__checkbox {
    margin-right: 20px;
  }
}

.default-task__active {
  color: red;
  text-decoration: line-through;
}

.default-task__task-buttons {
  display: flex;
  
  button {
    background-color: rgba(0, 0, 0, 0);
  }
}
